<h1 class="text-center">Name:{{country.name|title}}</h1>
<div class="container">
	<div class="row">
		<div class="col">
			<h2 class="text-left">Code: <span class="badge badge-secondary">{{country.code}}</span></h2>
		</div>
		<div class="col">
			<h2 class="text-right">Population Static: <span class="badge badge-secondary">{{population}}</span></h2>
		</div>
		<div class="col">
			<h2 class="text-left">Continent: <span class="badge badge-secondary" style="color:{{country.continent.color}};">{{country.continent}}|title</span></h2>
		</div>
	</div>
</div>