{% extends "countries/base.html" %}

{% block title %}
	Home	    
{% endblock title %}
{% block content %}
	<div class="container-fluid" style="background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/corporate-grey-low-poly-geometric-motion-background-video-animation-hd-1920x1080_nypfik1eg__F0008.png');">
		<h1 class="display-3 text-center">Welcome to my site</h1>
		<br>
		<a href="/tags" class="btn btn-outline-success">Tags Page</a>
		<br>
		<br>
		<div class="row">
		    <div class="col-sm">
				{% include "countries/countries.html" %}
		    </div>
		    <div class="col-sm">
		    	<h1 class="display-1">2 of 2</h1>	      
		    </div>
		</div>
		<!--Todos los countries que existen-->
	</div>
{% endblock content %}