{% extends "countries/base.html" %}

{% block title %}
    Tags
{% endblock title %}

{% block content %}   
	<div class="container-fluid" style="background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/corporate-grey-low-poly-geometric-motion-background-video-animation-hd-1920x1080_nypfik1eg__F0008.png');background-attachment: fixed;">
		<h1 class="display-4 text-center">Template tag y Template filter, filtros y etiquetas en Django</h1>
		<br>
		<a href="{% url 'home' %}" class="btn btn-outline-success">Home Page</a>
		<a href="{% url 'continents:home' %}" class="btn btn-outline-success">Continents Page</a>
		<br>
		<br>
		<div class="row">
		    <div class="col-sm">
		    	<!--El sgte contenido solo se ve sobre el codigo de django-->
		    	{% comment "optional note" %}
		    	    columna-1
		    	{% endcomment %}
		    	{% for country in countries %}
		    		<p class="text-center">{{country}}<p>
		    	{% endfor %}
		    </div>
		    <div class="col-sm">
		    	<ul class="list-group">
		    	{% for country in countries %}
				  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
				    {{country.name|title}}
				    <span class="badge badge-primary badge-pill">{{country.code}}</span>
				  </li>
				  {% if country.name == 'colombia' %}
				      <p>Colombia tierra querida</p>
				  {% endif %}
		    	{% endfor %}
				</ul>
		    </div>
		</div>
		<br>
		<br>
		<br>
		<div class="row">
		    <div class="col-sm">
		    	<div class="container">
		    		<p>{% lorem %}</p>
		    	</div>
		    </div>
		    <div class="col-sm">
		    	<p class="lead text-center"><abbr title="Date server" class="initialism">Fecha actual </abbr>{% now "d-m-Y" %}</p>
		    	<p>
		    		{{"PRUEBA"|capfirst}}
		    	</p>
		    	<p>
		    		{% if population|divisibleby:"2" %}
						se cumple que population {{population}} es divisible por 2
		    		{% endif %}
		    	</p>
		    	<p>
		    		{% filter force_escape|lower %}
					    !"$&/?=()/%$" TEXTO
					{% endfilter %}
		    	</p>
		    </div>
		</div>
		<br>
		<br>
		<br>
		<div class="row">
		    <div class="col-sm">
		    	{% include "countries/countries.html" %}
		    </div>
		    <div class="col-sm">
		    	<ul class="list-group">
		    	{% for country in countries %}
				  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
				    {{country.name|title}}
				    <span class="badge badge-primary badge-pill">{{country.code}}</span>
				  </li>
		    	{% endfor %}
				</ul>
		    </div>
		</div>
		<br>
		<br>
		<br>
		<div class="row">
		    <div class="col-sm">
		    	<!--El sgte contenido solo se ve sobre el codigo de django-->
		    	{% comment "optional note" %}
		    	    columna-1
		    	{% endcomment %}
		    	{% for country in countries %}
		    		<p class="text-center">{{country}}<p>
		    	{% endfor %}
		    </div>
		    <div class="col-sm">
		    	<ul class="list-group">
		    	{% for country in countries %}
				  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
				    {{country.name|title}}
				    <span class="badge badge-primary badge-pill">{{country.code}}</span>
				  </li>
		    	{% endfor %}
				</ul>
		    </div>
		</div>
		<br>
		<br>
		<br>
		<div class="row">
		    <div class="col-sm">
		    	<!--El sgte contenido solo se ve sobre el codigo de django-->
		    	{% comment "optional note" %}
		    	    columna-1
		    	{% endcomment %}
		    	{% for country in countries %}
		    		<p class="text-center">{{country}}<p>
		    	{% endfor %}
		    </div>
		    <div class="col-sm">
		    	<ul class="list-group">
		    	{% for country in countries %}
				  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
				    {{country.name|title}}
				    <span class="badge badge-primary badge-pill">{{country.code}}</span>
				  </li>
		    	{% endfor %}
				</ul>
		    </div>
		</div>
		<br>
		<br>
		<br>
		<!--Todos los countries que existen-->
	</div>
{% endblock content %}