{% extends "../countries/base.html" %}
{% block title %}
    Continents
{% endblock title %}
{% block content %}
<div class="container-fluid" style="background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/corporate-grey-low-poly-geometric-motion-background-video-animation-hd-1920x1080_nypfik1eg__F0008.png');">
	<h1 class="display-4 text-center">Welcome to Continents</h1>
	<br>
	<a href="/" class="btn btn-outline-success">Home Page</a>
	<a href="/tags" class="btn btn-outline-success">Tags Page</a>
	<br>
	<br>
	<div class="row">
	    <div class="col-sm">
			{% include "../countries/countries.html" %}
	    </div>
	    <div class="col-sm">
	    	{% include "continents/continent.html" %}	      
	    </div>
	</div>
	<!--Todos los countries que existen-->
</div>
{% endblock content %}